/* default styling */

/* nav */
nav {
  /*display: block;*/
  width: 100%;
  height: 50px;
  text-align: right;
  right: 0px;
}

nav a:link {
  color: #3a3a3a;
  font-size: 12px;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 10px;
  vertical-align: text-top;
}
nav img {
  height: auto;
  width: 20px;
}
/* main-content */
.main-content {
  display: block;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.main-content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input {
  width: 380px;
  height: 20px;
}

/* footer */
footer {
  display: block;
  width: 100%;
  bottom: 0px;
}
footer li {
  display: inline-block;
}
footer .align-left {
  text-align: left;
}
footer .align-right {
  text-align: right;
}
/* helper classes */
